/* classes start with period */
.firstDiv{
  color: blue;
}

.secondDiv{
  color:red;
}

/* ID uses # */
#singledout{
  color:green;
  text-decoration:  line-through;
}
/* selector selects every element on page */
/*
*{
  color:black;
}
*/
/* select all unordered lists right after h3 */
/*  */
h3 + ul{
  border: 4px solid purple;
}
/* all anchored tags inside list */
/*  */
li a{
color:red;
}

li a[href="www.yahoo.com"]{
  color=red;
  border: 5px solid orange;


}
